<template>
  <!-- Desktop -->
  <div class="hero">
    <div class="d-none d-md-block">
      <div class="row mt-3">
        <div class="col md-6">
          <div class="d-flex h-100">
            <div class="justify-content-center align-self-center">
              <h2>
                <strong>do0 Fun,</strong>
                <br />In Your Gadget
              </h2>
              <p>Order Your Ticket Now!</p>
              <button class="btn btn-lg btn-success">
                <b-icon-arrow-right></b-icon-arrow-right>Order!
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <img src="../assets/images/Hero.png" width="100%" alt />
        </div>
      </div>
    </div>
    <!-- Mobile -->

    <div class="d-sm-block d-md-none">
      <div class="col mb-3">
        <img src="../assets/images/Hero.png" width="100%" alt />
      </div>
      <div class="row mt-3">
        <div class="col md-6">
          <div class="d-flex h-100">
            <div class="justify-content-center align-self-center">
              <h2>
                <strong>do0 Fun,</strong>
                <br />In Your Gadget
              </h2>
              <p>Order Your Ticket Now!</p>
              <button class="btn btn-lg btn-success">
                <b-icon-arrow-right></b-icon-arrow-right>Order!
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Hero",
};
</script>

<style>
</style>