<template>
  <div class="home">
    <Navbar />
    <div class="container">
      <Hero />

      <div class="row mt-4">
        <div class="col">
          <h2>BestPlay</h2>
        </div>

        <div class="col">
          <router-link to="/wahana" class="btn btn-success float-right">
            <b-icon-eye></b-icon-eye>Lihat Wahana
          </router-link>
        </div>
      </div>

      <div class="row mb-3">
        <div
          class="col-md-3 mt-3 d-flex align-items-stretch"
          v-for="product in products"
          :key="product.id"
        >
          <CardProduct :product="product" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from "@/components/Navbar.vue";
import Hero from "@/components/Hero.vue";
import CardProduct from "@/components/CardProduct.vue";
import axios from "axios";

export default {
  name: "Home",
  components: {
    Navbar,
    Hero,
    CardProduct,
  },

  data() {
    return {
      products: [],
    };
  },
  methods: {
    setProducts(data) {
      this.products = data;
    },
  },

  mounted() {
    axios
      .get("http://localhost:8888/api/products")

      .then((response) => this.setProducts(response.data.data))

      .catch((error) => console.log(error));
  },
};
</script>
